# Variables de entorno y secretos
.env

# Entorno virtual
venv/
env/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.db

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
.idea/
.env
